<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rerun test using custom annotation" >
    <listeners>
        <listener class-name="Framework.Core.Listeners.AnnotationTransformer"/>
        <listener class-name="Framework.Core.Listeners.SuiteListener"/>
        <listener class-name="Framework.Core.ExtentReports.ExtentTestNGITestListener"/>
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="Framework.Core.CustomAnnotations.TestWithCustomAnnotation"/>
            <class name="Framework.Core.CustomAnnotations.TestWithoutCustomAnnotation"/>
        </classes>
    </test>
</suite>